#root {
  width: 100%;
  padding:  0 1rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.article-card {
  display: flex;

}
img{
  margin: 2em;
}

li{
  list-style: none;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5rem;
  margin: 0.5rem;
  
}
.navbar{
  display: flex;
  justify-content: space-evenly;
}

ul{
  padding: 0;
}
h1{text-align: center;
margin: 1rem;}
span{
  margin-right: 2rem;
}